<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Producto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-list>
    
    <ion-item>
      <ion-label position="floating">Nombre </ion-label>
      <ion-textarea [(ngModel)]="producto.nombre"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-textarea [(ngModel)]="producto.marca"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripcion del Producto </ion-label>
      <ion-textarea [(ngModel)]="producto.descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio del Producto </ion-label>
      <ion-textarea [(ngModel)]="producto.precio"></ion-textarea>
    </ion-item>

  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button expand="full"
                  shape="round"
                  (click)="libreria()">
        <ion-icon slot="start" name="images"></ion-icon>
        Seleccionar Imagenes
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngFor="let image of tempImages">
      <ion-card>
        <img [src]="image">
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-button (click)="crearProducto()" [disabled]="producto.nombre.length < 1"  color="success" expand="block">Crear producto</ion-button>

</ion-content>


