<ion-header>
  <app-header>
   
  </app-header>

</ion-header>

<ion-searchbar slot="primary" animated placeholder="¿Qué buscas?"></ion-searchbar>
<ion-content>
 <h1 align="center"> Bienvenido!</h1>
 <ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Esto es un tag de bienvenido!</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    Aqui puedes introducir cualquier waifu que desees!,
     solo debes agregarla.
  </ion-card-content>
</ion-card>
</ion-content>
